/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Open sans", sans-serif;
  color: black;
  background-color: white; }

/* -------------------------------- 

Modules - replace text with background image thanks to https://github.com/CodyHouse, codyhouse.co

-------------------------------- */
.wc-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center; }

/* -------------------------------- 

Modules - reusable container thanks to https://github.com/CodyHouse, codyhouse.co

-------------------------------- */
.wc-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }
  .wc-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

.wc-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .wc-header:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 768px) {
    .wc-header {
      height: 70px; } }
  .wc-header #wc-logo {
    float: left; }
    .wc-header #wc-logo img {
      margin: 7px 0 0 0;
      max-height: 35px;
      display: block; }
      @media only screen and (min-width: 768px) {
        .wc-header #wc-logo img {
          margin: 10px 0 0 0;
          max-height: 70px; } }

/* ------------------------------

Main navigation 

-------------------------------*/
.wc-main-nav {
  float: right;
  height: 50px;
  width: 44px;
  background: url("./images/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer; }
  .wc-main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
    .wc-main-nav ul.is-visible {
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
      transform: translateY(50px); }
  .wc-main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    border-top: 1px solid #e7e7e7;
    color: #666666;
    background: #f4f4f4;
    font-size: 14px;
    font-size: 0.875rem;
    text-decoration: none; }
  @media only screen and (min-width: 768px) {
    .wc-main-nav {
      width: auto;
      height: 70px;
      background: none;
      cursor: auto; }
      .wc-main-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 70px; }
        .wc-main-nav ul.is-visible {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); }
      .wc-main-nav li {
        display: inline-block;
        margin-left: 1em; }
      .wc-main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border-top: none;
        color: #666666;
        -webkit-transition: color, 0.2s;
        -moz-transition: color, 0.2s;
        -ms-transition: color, 0.2s;
        -o-transition: color, 0.2s;
        transition: color, 0.2s; }
        .no-touch .wc-main-nav a:hover {
          color: #666666; }
        .wc-main-nav a:hover, .wc-main-nav a:focus, .wc-main-nav a:active {
          color: #1a1a1a; }
      .wc-main-nav li.active a {
        color: #4d4d4d; } }
