/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Open sans", sans-serif;
  color: black;
  background-color: white; }

body, html {
  height: 100%; }

a {
  color: #666666;
  text-decoration: none; }

/* -------------------------------- 

Modules - replace text with background image thanks to
https://github.com/CodyHouse, codyhouse.co

-------------------------------- */
.wc-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center; }

/* -------------------------------- 

Modules - reusable container thanks to https://github.com/CodyHouse, codyhouse.co

-------------------------------- */
.wc-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }
  .wc-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

/* -------------------------------- 

Remove caption from image

-------------------------------- */
.cd-img-replace, .wc-nav-trigger {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("./images/cd-arrow-bottom.svg") no-repeat center center; }

.wc-header {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .wc-header:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 768px) {
    .wc-header {
      height: 70px;
      box-shadow: none;
      background: rgba(255, 255, 255, 0.5); } }
  .wc-header #wc-logo {
    float: left; }
    .wc-header #wc-logo img {
      margin: 7px 0 0 0;
      max-height: 35px;
      display: block; }
      @media only screen and (min-width: 768px) {
        .wc-header #wc-logo img {
          margin: 10px 0 0 0;
          max-height: 70px; } }

.section-anchors, .wc-section a {
  text-decoration: none;
  color: #2c3e51;
  border-bottom: 1px solid rgba(198, 70, 61, 0); }
  .section-anchors:hover, .wc-section a:hover {
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    transition: border-color 0.2s;
    border-color: #233140; }

/* ------------------------------

Main navigation 

-------------------------------*/
#wc-nav ul {
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.4);
  background: white;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s; }
  #wc-nav ul li {
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  #wc-nav ul.is-visible {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s; }
    #wc-nav ul.is-visible li:nth-child(1) {
      /* list items animation */
      -webkit-animation: cd-slide-in 0.2s;
      -moz-animation: cd-slide-in 0.2s;
      animation: cd-slide-in 0.2s; }
    #wc-nav ul.is-visible li:nth-child(2) {
      -webkit-animation: cd-slide-in 0.3s;
      -moz-animation: cd-slide-in 0.3s;
      animation: cd-slide-in 0.3s; }
    #wc-nav ul.is-visible li:nth-child(3) {
      -webkit-animation: cd-slide-in 0.4s;
      -moz-animation: cd-slide-in 0.4s;
      animation: cd-slide-in 0.4s; }
    #wc-nav ul.is-visible li:nth-child(4) {
      -webkit-animation: cd-slide-in 0.5s;
      -moz-animation: cd-slide-in 0.5s;
      animation: cd-slide-in 0.5s; }
    #wc-nav ul.is-visible li:nth-child(5) {
      -webkit-animation: cd-slide-in 0.6s;
      -moz-animation: cd-slide-in 0.6s;
      animation: cd-slide-in 0.6s; }
#wc-nav li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #eff2f6; }
#wc-nav li:last-child a {
  border-bottom: none; }
@media only screen and (min-width: 768px) {
  #wc-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 0px;
    background: transparent;
    visibility: visible;
    box-shadow: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s; }
  #wc-nav li {
    display: inline-block; }
  #wc-nav li a {
    opacity: 1;
    display: block;
    margin-left: 1.6em;
    border-bottom: none; }
    #wc-nav li a:hover {
      color: #00bd9b; }
  #wc-nav.is-fixed ul {
    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 15px;
    top: auto;
    background: white;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.4);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
    #wc-nav.is-fixed ul li {
      display: block; }
    #wc-nav.is-fixed ul li a {
      padding: 1.2em;
      margin-left: 0;
      border-bottom: 1px solid #eff2f6; }
  #wc-nav ul.has-transitions {
    /* this class is used to bring back transitions when the navigation moves at the bottom right */
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s; }
  #wc-nav ul.is-visible {
    /* this class is used to bring back the navigation animation - as on touch devices */
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s; }
  #wc-nav ul.is-hidden {
    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; } }

.wc-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: white;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.4);
  z-index: 2; }
  .wc-nav-trigger span {
    /* the span element is used to create the menu icon */
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #666666;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s; }
    .wc-nav-trigger span::before, .wc-nav-trigger span::after {
      content: '';
      position: absolute;
      left: 0;
      background: inherit;
      width: 100%;
      height: 100%;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.3s, background 0s;
      -moz-transition: -moz-transform 0.3s, background 0s;
      transition: transform 0.3s, background 0s; }
    .wc-nav-trigger span::before {
      top: -6px;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0); }
    .wc-nav-trigger span::after {
      bottom: -6px;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0); }
  .wc-nav-trigger.menu-is-open {
    box-shadow: none; }
  .wc-nav-trigger.menu-is-open span {
    background: rgba(102, 102, 102, 0); }
    .wc-nav-trigger.menu-is-open span::before, .wc-nav-trigger.menu-is-open span::after {
      background: #666666; }
    .wc-nav-trigger.menu-is-open span::before {
      top: 0;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    .wc-nav-trigger.menu-is-open span::after {
      bottom: 0;
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg); }
  @media only screen and (min-width: 768px) {
    .wc-nav-trigger {
      /* the the menu triger is hidden by default on desktop devices */
      visibility: hidden;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
      -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
      transition: transform 0.3s, visibility 0s 0.3s; }
      .is-fixed .wc-nav-trigger {
        visibility: visible;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-animation: cd-bounce-in 0.3s linear;
        -moz-animation: cd-bounce-in 0.3s linear;
        animation: cd-bounce-in 0.3s linear; } }

/* ------------------------------

    One page section 

-------------------------------*/
.wc-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0; }
  .wc-section:nth-of-type(odd) {
    background-color: white; }
  .wc-section:nth-of-type(even) {
    background-color: #f4f4f4; }
  .wc-section .content-in {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center; }
  .wc-section h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 1.25rem; }
  .wc-section p {
    line-height: 1.6;
    color: #666666; }
  @media only screen and (min-width: 768px) {
    .wc-section h1, .wc-section h2, .wc-section h3, .wc-section h4 {
      line-height: 1.6;
      color: #666666; }
    .wc-section h1 {
      font-size: 60px;
      font-size: 3.75rem; }
    .wc-section h2 {
      font-size: 45px;
      font-size: 2.8125rem; }
    .wc-section h3 {
      font-size: 30px;
      font-size: 1.875rem; }
    .wc-section p {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2; } }

.wc-section-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .wc-section-bg.wc-bg-1 {
    background-image: url("./images/bg.jpg"); }
  @media only screen and (min-width: 768px) {
    .wc-section-bg h1, .wc-section-bg h2, .wc-section-bg h3, .wc-section-bg h4 {
      line-height: 1.6;
      text-shadow: #666 0px 1px 4px; }
    .wc-section-bg h1 {
      font-size: 60px;
      font-size: 3.75rem; }
    .wc-section-bg h2 {
      font-size: 45px;
      font-size: 2.8125rem; }
    .wc-section-bg h3 {
      font-size: 30px;
      font-size: 1.875rem; }
    .wc-section-bg p {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2; } }
  .wc-section-bg .content-in {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
    color: white; }

/* -------------------------------

Button styles

--------------------------------*/
.btn {
  margin-top: 15px;
  display: inline-block;
  border-radius: 0.25em;
  padding: 10px;
  font-weight: bold;
  border-bottom: none !important;
  text-decoration: none;
  font-size: 13px;
  font-size: 0.8125rem;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s; }
  .btn:active {
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96); }

.btn.red {
  background: #e84a64;
  color: white; }

.no-touch .btn.red:hover {
  background-color: #ee778b; }

.btn.grey-dark {
  background: white;
  color: white; }

.no-touch .btn.grey-dark:hover {
  background-color: white; }

@-webkit-keyframes wc-slide-in {
  0% {
    -webkit-transform: translateX(100px); }

  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes wc-slide-in {
  0% {
    -moz-transform: translateX(100px); }

  100% {
    -moz-transform: translateY(0); } }
@keyframes wc-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes wc-bounce-in {
  0% {
    -webkit-transform: scale(0); }

  60% {
    -webkit-transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes wc-bounce-in {
  0% {
    -moz-transform: scale(0); }

  60% {
    -moz-transform: scale(1.2); }

  100% {
    -moz-transform: scale(1); } }
@keyframes wc-bounce-in {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
