@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-black;
  background-color: $color-white;
}


body, html {
  height: 100%;
}

a {
    color: $color-6;
    text-decoration: none;
}


/* -------------------------------- 

Modules - replace text with background image thanks to
https://github.com/CodyHouse, codyhouse.co

-------------------------------- */

.wc-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

/* -------------------------------- 

Modules - reusable container thanks to https://github.com/CodyHouse, codyhouse.co

-------------------------------- */

.wc-container {
  width: 90%;
  max-width: $L; // breakpoints inside partials > _layout.scss
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}


/* -------------------------------- 

Remove caption from image

-------------------------------- */

.cd-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.cd-scroll-down {
  position: absolute;
  @include center(x);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url('./images/cd-arrow-bottom.svg') no-repeat center center;
}

.wc-header {
  position: absolute;
  top: 0;
  left: 0;;
  background:transparent;

  width: 100%;
  height: $header-height-S;
  background: rgba($color-white, .5);
  box-shadow: 0 1px 2px rgba($color-black, .2);
  z-index: 1;
  @include clearfix;

  @include MQ(M) {
    height: $header-height-M;
    //background: transparent;
    box-shadow: none;

    background: rgba($color-white, .2);
  }

  #wc-logo {
    float:left;
    img {
      margin: 7px 0 0 0;
      max-height: $header-height-S - 15;
      display: block;
      @include MQ(M) {
        margin: 10px 0 0 0;
        max-height: $header-height-M;
      }
    }
  }
}

.section-anchors {
  text-decoration: none;
  color: $color-1;
  border-bottom: 1px solid rgba(198, 70, 61, 0);

  &:hover {
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    transition: border-color 0.2s;
    border-color: darken($color-1, 5%);
  }
}

/* ------------------------------

Main navigation 

-------------------------------*/

#wc-nav {
    ul {
        position: fixed;
        width: 90%;
        max-width: 400px;
        right: 5%;
        bottom: 20px;
        @include border-radius;
        box-shadow: 0 0 10px rgba($color-6, .4);
        background: $color-4;
        visibility: hidden;
        overflow: hidden;

        z-index: 1;

        /* Force Hardware Acceleration in WebKit */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        @include transform(scale(0));
        @include transform-origin(100% 100%);
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
        transition: transform 0.3s, visibility 0s 0.3s;

        li {
            /* Force Hardware Acceleration in WebKit */
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &.is-visible {
            visibility: visible;
            @include transform(scale(1));
            -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
            -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
            transition: transform 0.3s, visibility 0s 0s;

            li:nth-child(1) { /* list items animation */
                @include animation(cd-slide-in .2s);
            }

            li:nth-child(2) {
                @include animation(cd-slide-in .3s);
            }

            li:nth-child(3) {
                @include animation(cd-slide-in .4s);
            }

            li:nth-child(4) {
                @include animation(cd-slide-in .5s);
            }

            li:nth-child(5) {
                @include animation(cd-slide-in .6s);
            }
        }
    }
    li a {
        display: block;
        padding: 1.6em;
        border-bottom: 1px solid $color-5;
    }

    li:last-child a {
        border-bottom: none;
    }

    @include MQ(M) {
        ul {
            /* the navigation moves to the top */
            position: absolute;
            width: auto;
            max-width: none;
            bottom: auto;
            top: 0px;
            background: transparent;
            visibility: visible;
            box-shadow: none;
            @include transform(scale(1));
            @include transition(all 0s);
        }

        li {
            display: inline-block;
        }

        li a {
            opacity: 1;
            display: block;
            margin-left: 1.6em;
            border-bottom: none;

            &:hover {
                color: $color-2;
            }
        }

        &.is-fixed ul {
            /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
            position: fixed;
            width: 90%;
            max-width: 400px;
            bottom: 15px;
            top: auto;
            background: $color-4;
            visibility: hidden;
            box-shadow: 0 0 10px rgba($color-6, .4);
            @include transform(scale(0));
            
            li {
                display: block;
            }

            li a {
                padding: 1.2em;
                margin-left: 0;
                border-bottom: 1px solid $color-5;
            }
        }

        ul.has-transitions {
            /* this class is used to bring back transitions when the navigation moves at the bottom right */
            -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
            -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
            transition: transform 0.3s, visibility 0s 0.3s;
        }

        ul.is-visible {
            /* this class is used to bring back the navigation animation - as on touch devices */
            visibility: visible;
            @include transform(scale(1));

            -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
            -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
            transition: transform 0.3s, visibility 0s 0s;
        }

        ul.is-hidden {
            /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
            @include transform(scale(0));
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
        }
    }
}

.wc-nav-trigger {

    position: fixed;
    bottom: 20px;
    right: 5%;
    width: 44px;
    height: 44px;
    background: $color-4;
    @include border-radius;
    box-shadow: 0 0 10px rgba($color-6, .4);

    @extend .cd-img-replace;

    z-index: 2;

    span {
        /* the span element is used to create the menu icon */
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background: $color-6;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            background: inherit;
            width: 100%;
            height: 100%;

            /* Force Hardware Acceleration in WebKit */
            @include transform(translateZ(0));
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            -webkit-transition: -webkit-transform 0.3s, background 0s;
            -moz-transition: -moz-transform 0.3s, background 0s;
            transition: transform 0.3s, background 0s;
        }

        &::before {
            top: -6px;
            @include transform(rotate(0));
        }

        &::after {
            bottom: -6px;
            @include transform(rotate(0));
        }
    }

    &.menu-is-open {
        box-shadow: none;
    }

    &.menu-is-open span {
        background: rgba($color-6, 0);

        &::before, &::after {
            background: rgba($color-6, 1);
        }

        &::before {
            top: 0;
            @include transform(rotate(135deg));
        }

        &::after {
            bottom: 0;
            @include transform(rotate(225deg));
        }
    }

    @include MQ(M) {
        /* the the menu triger is hidden by default on desktop devices */
        visibility: hidden;
        @include transform(scale(0));
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
        transition: transform 0.3s, visibility 0s 0.3s;

        .is-fixed & {
            visibility: visible;
            @include transition(all 0s);
            @include transform(scale(1));
            @include animation(cd-bounce-in .3s linear);
        }
    }

}

/* ------------------------------

    One page section 

-------------------------------*/
.wc-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;

  &:nth-of-type(odd) {
    background-color: $color-white;
  }

  &:nth-of-type(even) {
    background-color: $color-7;
  }

  .content-in {
    position: absolute;
    @include center;
    width: 90%;
    max-width: $M;
    text-align: center;
  }


  h1 {
    font-weight: 300;
    text-transform: uppercase;
    @include font-size(20px);
  }

  p {
    line-height: 1.6;
    color: $color-6;
  }

  a {
    @extend .section-anchors;
  }

  @include MQ(M) {
    h1, h2, h3, h4 { line-height: 1.6; color: $color-6;}
    h1 {
      @include font-size(60px);
    }
    h2 {
      @include font-size(45px);
    }
    h3 {
      @include font-size(30px);
    }

    p {
      @include font-size(20px);
      line-height: 2;
    }
  }
}

.wc-section-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &.wc-bg-1 {
    background-image: url('./images/bg.jpg');
  }

  @include MQ(M) {
    h1, h2, h3, h4 {
      line-height: 1.6;
      text-shadow: #666 0px 1px 4px;
    }
    h1 {
      @include font-size(60px);
    }
    h2 {
      @include font-size(45px);
    }
    h3 {
      @include font-size(30px);
    }

    p {
      @include font-size(20px);
      line-height: 2;
    }
  }

  @include MQ(L) {
    //background-attachment: fixed;
  }

  .content-in {
    position: absolute;
    @include center;
    width: 90%;
    max-width: $M;
    text-align: center;
    color: $color-white;
  }
}


/* -------------------------------

Button styles

--------------------------------*/
.btn {
  margin-top: 15px;
  display: inline-block;
  border-radius: 0.25em;
  padding: 10px;
  font-weight: bold;
  border-bottom: none !important;
  text-decoration: none;

  @include font-size(13px);

  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;


  &:active {
    @include transform(scale(0.96));
  }
}
.btn.red {
  background: $color-3;
  color: $color-white;
}
.no-touch .btn.red:hover {
  background-color: lighten($color-3, 10%);
}
.btn.grey-dark {
  background: $color-4;
  color: $color-white;
}
.no-touch .btn.grey-dark:hover {
  background-color: lighten($color-4, 10%);
}


@include keyframes(wc-slide-in) {
    0% {
        @include transform(translateX(100px));
    }

    100% {
        @include transform(translateY(0));
    }
}

@include keyframes(wc-bounce-in) {
    0% {
        @include transform(scale(0));
    }

    60% {
        @include transform(scale(1.2));
    }

    100% {
        @include transform(scale(1));
    }
}
