// colors

$color-1: #f4f4f4;
$color-2: #666666;
$color-3: #c6463c;
$color-4: #383835;

// general colors

$color-white: #FFF;
$color-black: #000;

// fonts 
$primary-font: 'Open sans', sans-serif;

//header height

$header-height-S: 50px;
$header-height-M: 70px;
